.mainContainer {
  background-color: #3573E7;
}

.title {
  font-size: 1.35em;
  margin: 0;
}

.navList {
  margin-top: 5px;
}

.title a,
.navList a {
  text-align: center;
  display: block;
  padding: 10px 15px;
}

.navList a {
  font-size: .95em;
  text-transform: uppercase;
}

@media (min-width: 769px) {
  .navContainer,
  .navList {
    display: flex;
  }

  .navContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1125px) {
  .navContainer,
  .navList {
    flex-direction: row;
  }
  .navList {
    margin-left: auto;
  }
}

.flex {
  flex: 1;
}

.menuButton {
  margin-left: -12px;
  margin-right: 20px;
}